.contactus{
    margin-top: 200px;
}
.card{
    border-radius: 10px;
    border: 1 px solid black;
    
}

.cardd{
    margin-top: 100px;
}
.horizontalcard{
    width: 70%;
    align-items: end;
    justify-content: end;
 margin-bottom: 5px;
}
.verticalcard{
    margin-right: 8px;
margin-top: 40px;
  height: 100px;
    width: 28%;
}
.containerr{
    display: flex;
    padding-top: 30px;

} 
  h1{
    font-size: 10px;
  }
 
  body{
    background-color: #ffffff;
  }
  .hh{
    /* style={{ textAlign: 'center', backgroundColor: 'blue', padding: '10px', borderRadius: '5px',margin:'10px',color:'white' */
      text-align: start;
      background-color: blue;
      padding: 5px;
      color: white;
      border-radius: 5px;
      margin: 5px;
      font-size: 10px;
  }
  .hj{
    /* style={{ textAlign: 'center', backgroundColor: 'blue', padding: '10px', borderRadius: '5px',margin:'10px',color:'white' */
      text-align: start;
      background-color: rgb(138, 138, 141);
      padding: 5px;
      color: white;
      border-radius: 5px;
      margin: 5px;
      font-size: 10px;
  }
  h3{
    font-size: 14px;
  }
  p{
    font-size: 16px;
  }
  .pp{
    font-size: 12px;
  }

  .groupp {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .inputt {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #c0e6d1;
    color: #0d0c22;
    transition: .3s ease;
    margin-left: 10px;
   }
   
   .inputt::placeholder {
    color: #9e9ea7;
   }
   
   .inputt:focus, inputt:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .iconn {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   
   
   
   
  @media screen and (max-width: 768px) {

    .contactus{
      margin-top: 200px;
  }
  .card{
      border-radius: 10px;
      border: 1 px solid black;
      
  }
  .cardd{
      margin-top: 100px;
  }
  .horizontalcard{
      width: 60%;
      align-items: end;
      justify-content: end;
   margin-bottom: 3px;
  }
  .verticalcard{
      margin-right: 8px;
      margin-left: -12px;
      height: 80px;
      width: 45%;
  }
  .hh{
    /* style={{ textAlign: 'center', backgroundColor: 'blue', padding: '10px', borderRadius: '5px',margin:'10px',color:'white' */
      text-align: start;
      background-color: blue;
      padding: 5px;
      color: white;
      border-radius: 5px;
      margin: 5px;
      font-size: 10px;
  }
  .hj{
    /* style={{ textAlign: 'center', backgroundColor: 'blue', padding: '10px', borderRadius: '5px',margin:'10px',color:'white' */
      text-align: start;
      background-color: rgb(138, 138, 141);
      padding: 5px;
      color: white;
      border-radius: 5px;
      margin: 5px;
      font-size: 10px;
  }
  h3{
    font-size: 14px;
  }
  p{
    font-size: 16px;
  }
  .pp{
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contactus{
    margin-top: 200px;
}
.card{
    border-radius: 10px;
    border: 1 px solid black;
    
}
.cardd{
    margin-top: 100px;
}
.horizontalcard{
    width: 60%;
    align-items: end;
    justify-content: end;
 margin-bottom: 3px;
}
.verticalcard{
    margin-right: 8px;
    margin-left: -12px;
    height: 80px;
    width: 45%;
}
.hh{
  /* style={{ textAlign: 'center', backgroundColor: 'blue', padding: '10px', borderRadius: '5px',margin:'10px',color:'white' */
    text-align: start;
    background-color: blue;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
}
.hj{
  /* style={{ textAlign: 'center', backgroundColor: 'blue', padding: '10px', borderRadius: '5px',margin:'10px',color:'white' */
    text-align: start;
    background-color: rgb(138, 138, 141);
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
}
h3{
  font-size: 14px;
}
p{
  font-size: 16px;
}
.pp{
  font-size: 12px;
}
}